* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


section {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 600px;
    transition-duration: 1s;
    cursor: pointer;
    background-color: white;
    overflow: hidden;
}

section img {
    width: 100%;
    transition-duration: 1s;
}

.text {
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition-duration: 1s;
}

h1 {
    font-size: 40px;
    text-align: center;
    opacity: 0;
}

p {
    font-size: 25px;
    text-align: center;
    opacity: 0;
}

section:hover img {
    transform: scale(1.2) rotate(30deg);
}

section:hover .text h1 {
    opacity: 1;
}

section:hover .text p {
    opacity: 1;
}

section:hover .text {
    opacity: 0.6;
}

